/* Estilos para o site Camaleão Fantasias */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    flex-direction: column;
}


.usuario {
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}


header {
    background-color: rgb(0, 129, 11);
    color: #eeec71;
    padding: 2vh;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    font-size: large;
}
.logado {
    text-align: right;
}

.meu-link {
    text-decoration: none;       /* Remove o sublinhado */
    color: rgb(229, 255, 0);                /* Cor do texto */
  }
  
  .meu-link:hover {
    color: #a4c900;
  }

.top-buttons {
    text-align: right;
}

.btn {
    text-decoration: none; 
    color: #eeec71;
    background-color: rgb(0, 129, 11);
    border-color: rgb(0, 129, 11);
    box-shadow: none;
    height: 3vh;
    width: 9vh;
}

header h1 {
    font-size: 3em;
}

nav {
    display: flex;
    justify-content: center;
    background-color: rgb(20, 245, 0);
    padding: 1.5vh;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 5vh;
    font-size: 1.2em;
}

nav a:hover {
    color: #95ff6b;
}

.hero {
    flex: 1;
    background: url('https://example.com/sua-imagem.jpg') no-repeat center center/cover;
    height: 30vh;
    display: flexbox;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    justify-content: center;
    align-items: center;
    color: #000000;
    text-align: center;
    font-size: 2.5em;
}

.hero hr {
    width: 100%;
}

.manun {
    flex: 1;
    background: url('https://example.com/sua-imagem.jpg') no-repeat center center/cover;
    height: 57.2vh;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    color: #000000;
    text-align: center;
    font-size: 2.5em;
}

.content {
    flex: 1;
    padding: 5vh;
    text-align: center;
    margin-bottom: 0.3vh
}

footer {
    background-color: #007000;
    color: #fff;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    bottom: 0vh;
    margin-bottom: 0%;
    height: 10vh;
    display: flex;
    align-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

footer:hover {
    color: rgb(72, 255, 56);
}

.contact {
    flex: 1;
    line-height: normal;
    align-self: center;
    text-align: center; 
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10vh;
    height: 47.2vh;
}

.contact-item {
    font-size: 18px;
    margin: 2vh 0;
}
.contact-item a {
    color: #4CAF50;
    text-decoration: none;
}
.contact-item a:hover {
    text-decoration: underline;
}
