<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Camaleão Fantasias</title>
    <!-- Usando url_for para apontar para a pasta static -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='js/cru.js') }}">
    
</head>
<body>
    <header>
        {% if session.get('usuario') %}
            <div class="logado">
                <b>{{ session['usuario'] }}</b> | <a class="meu-link" href="/logout">Logout</a>
            </div>
        {% else %}
        <div class="top-buttons">
            <a href="{{ url_for('clientes.login') }}" class="btn">Login</a> | <a href="{{ url_for('clientes.cadastro') }}" class="btn">Cadastro</a>
        </div>
        {% endif %}

        <h1>Camaleão Fantasias</h1>
        <p>Transforme-se com as melhores fantasias!</p>
        <dialog>a</dialog>
    </header>

    <nav>
        <a href="{{ url_for('clientes.inicial') }}">Início</a>
        <a href="{{ url_for('clientes.manun') }}">Produtos</a>
        <a href="{{ url_for('clientes.contato') }}">Contato</a>
    </nav>
    {% block body %}
    {% endblock %}
    <footer>
        <p>&copy; 2025 Camaleão Fantasias - Todos os direitos reservados</p>
    </footer>
</body>
</html>
