{% extends 'base.html' %}

{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">

<h2 class="login-text">CADASTRO</h2>
<form action="/cadastro" id="form-json" class="c-form" method="post" c-reload=true>
    <div class="input-group">
        <label for="nome">Nome completo</label>
        <input type="nome" name="nome" placeholder="Digite seu nome" required>
    </div>
    <div class="input-group">
        <label for="email">E-mail</label>
        <input type="email" name="email" placeholder="Digite seu e-mail" required>
    </div>
    <div class="input-group">
        <label for="senha">Senha</label>
        <input type="password" name="senha" placeholder="Digite sua senha" required>
    </div>
    <div class="input-group">
        <label for="telefone">Telefone</label>
        <input type="number" name="telefone" placeholder="Digite seu telefone" required>
    </div>
    
    <button type="submit">Entrar</button>

    {% if accept %}
    <p class="texto-confirm">Cadastro realizado com sucesso</p>
    {% else %}
    {% if accept == None %}
    <p class="texto-inv"></p>
    {% else %}
    <p class="texto-decline">Não foi possivel realizar o cadastro</p>
    {% endif %}
    {% endif %}
</form>

{% endblock %}