{% extends 'base.html' %}

{% block body %}

<div class="contact">
    <div class="contact-item">
        <p><strong>E-mail:</strong> <a href="mailto:camaleaofantasias26@gmail.com">camaleaofantasias26@gmail.com</a></p>
    </div>
    <div class="contact-item">
        <p><strong>Telefone:</strong> <a href="tel:+5584987188062">(84) 98718-8062</a></p>
    </div>
    <div class="contact-item">
        <p><strong>Instagram:</strong> <a href="https://www.instagram.com/camaleaofantasias26" target="_blank">@camaleaofantasias26</a></p>
    </div>
    <div class="contact-item">
        <p><strong>WhatsApp:</strong> <a href="https://wa.me/5584987188062" target="_blank">Clique para conversar</a></p>
    </div>
</div>

{% endblock %}