{% extends 'base.html' %}

{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/produtos.css') }}">

<div class="grid-produtos">
    {% for i in range(0, 24, 1) %}
    {% if i == 0 %}
    <style>
        .produto {
            margin: 5vh 5vh 5vh vh; 
        }
      </style>
    {% endif %}

    <div class="produto" id="produtos_loja" onclick="{{ url_for('clientes.manun') }}">    
    <img src="https://via.placeholder.com/200x150.png?text=Produto+1" alt="Produto {{ i+1 }}">
    <h4 class="nome">Produto {{ i+1 }}</h4>
    <span class="preco">R$ 99,90</span>
    </div>
{% endfor %}
</div>

<!-- js para deixar a div clicavel! -->
 
<script>
    document.getElementById("produtos_loja").addEventListener("click", function() {
      window.location.href = "{{ url_for('clientes.manun') }}";
    });
  </script>

{% endblock %}